* {
    box-sizing: border-box;
    padding: 10px;
}

html {
    font: 1.5rem Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    height: calc(100% - 20px);
}

#wrapper {
    border: 2px solid green;
}

.outer-box {
    border: 2px solid red;
}

.inner-box {
    border: 2px solid blue;
}

/* START YOUR CODE HERE */

